<div class="modal fade" id="myModalCookie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Oturum Süresi</h4>

            </div>

            <div class="modal-body">
                <span id="sayac"></span> sn.    Oturum süreniz doldu. Devam etmek ister misiniz ?
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button" id="btnAuthenticationClose">Close</button>
                <button class="btn btn-primary" type="button" id="btnAuthenticationConfirm">Confirm</button>
            </div>
        </div>

    </div>
</div>